@import "../../assets/scss/variables";

@media #{$tablet-device,$large-mobile} {
  .games-page {
    padding: 18.5px 17.5px 0 0;
    direction: rtl;
    padding-bottom: calc(var(--footer-height) + 30px);

    .category-container {
      display: flex;
      width: 95%;
      justify-content: space-between;
      margin-bottom: 20px;

      .category-title {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: -0.41px;
        text-align: center;
      }

      .more-button {
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        color: $theme-color--medium-blue;
        padding-bottom: 5px;
        text-decoration: none;
      }

      .more-icon {
        padding: 10px 10px 10px 0;
        font-size: 10px;
        color: $theme-color--medium-blue;
      }
    }

    .banner-container {
      margin-bottom: 20px;
      display: flex;
      overflow-x: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      .banner {
        width: 95%;
        height: auto;
        border-radius: 10px;
        margin-left: 5px;
      }
    }
  }
}
