@import "../../assets/scss/variables";

.games-page {
  width: 100%;
  padding: 18.5px 17.5px 0 0;
  padding-bottom: calc(var(--footer-height) + 30px);
  background-color: $white;

  .games-container {
    // overflow-x: auto;
    // overflow-x: hidden;
    direction: rtl;
    margin: 0 calc(5% + 16px) 32px;
    @media #{$tablet-device, $large-mobile} {
      margin: 0 calc(2% + 16px) 32px;
    }
    @media #{$small-mobile} {
      margin: 0 16px 32px;
    }

    .game-category-header {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 17px;
        font-weight: bold;
        line-height: 0.71;
        letter-spacing: -0.41px;
        text-align: center;
        color: $theme-color--dark;
      }

      .more {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: -0.19px;
        text-align: left;
        color: $theme-color--marine-blue;
        text-decoration: none;

        img {
          width: 5.7px;
          height: 10px;
          margin-right: 8px;
          vertical-align: middle;
        }
      }
    }
  }
}
