.center-absolute {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea {
  background-color: $theme-color--white;
  border-radius: 10px;
  width: 100%;
  font-family: $font-family-iransans;
  text-align: right;
  padding: 10px 15px;

  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
