.space-padding {
  &--up {
    &--10 {
      padding-top: 10px;
    }
    &--15 {
      padding-top: 15px;
    }
    &--20 {
      padding-top: 20px;
    }
    &--25 {
      padding-top: 25px;
    }
    &--30 {
      padding-top: 30px;
    }
    &--35 {
      padding-top: 35px;
    }
    &--40 {
      padding-top: 40px;
    }
    &--45 {
      padding-top: 45px;
    }
    &--50 {
      padding-top: 50px;
    }
    &--55 {
      padding-top: 55px;
    }
    &--60 {
      padding-top: 60px;
    }
    &--65 {
      padding-top: 65px;
    }
    &--70 {
      padding-top: 70px;
    }
  }
}

.space-margin {
  &--up {
    &--10 {
      margin-top: 10px;
    }
    &--15 {
      margin-top: 15px;
    }
    &--20 {
      margin-top: 20px;
    }
    &--25 {
      margin-top: 25px;
    }
    &--30 {
      margin-top: 30px;
    }
    &--35 {
      margin-top: 35px;
    }
    &--40 {
      margin-top: 40px;
    }
    &--45 {
      margin-top: 45px;
    }
    &--50 {
      margin-top: 50px;
    }
    &--55 {
      margin-top: 55px;
    }
    &--60 {
      margin-top: 60px;
    }
    &--65 {
      margin-top: 65px;
    }
    &--70 {
      margin-top: 70px;
    }
  }
}
