h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-color--dark;
  font-weight: $font-weight-bold;
  margin-top: 0;
  line-height: $line-height-general;
}
h1 {
  font-size: 39px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 9px;
}

/* -----------------------------
          Font Size
------------------------------- */
.fontsize-8 {
  font-size: 8px;
}
.fontsize-9 {
  font-size: 9px;
}
.fontsize-10 {
  font-size: 10px;
}
.fontsize-11 {
  font-size: 11px;
}
.fontsize-12 {
  font-size: 12px;
}
.fontsize-13 {
  font-size: 13px;
}
.fontsize-14 {
  font-size: 14px;
}
.fontsize-15 {
  font-size: 15px;
}
.fontsize-16 {
  font-size: 16px;
}
.fontsize-17 {
  font-size: 17px;
}
.fontsize-18 {
  font-size: 18px;
}
.fontsize-19 {
  font-size: 19px;
}
.fontsize-20 {
  font-size: 20px;
}
.fontsize-21 {
  font-size: 21px;
}
