$theme-color--orange: #fe8017;
$theme-color--manilla: #fffb90;
$theme-color--yellow: #f2c94c;
$theme-color--meduim-yellow: #fabb51;
$theme-color--tangerine: #ff9f0a;
$theme-color--tangerine-85: rgba(255, 159, 10, 0.85);
$theme-color--orange-light: rgba(254, 128, 23, 0.53);
$theme-color--green: #12b174;
$theme-color--cool-green: #34c759;
$theme-color--white: #f5f5f5;
$theme-color--dark: #182737;
$theme-color--marine-blue: #003069;
$theme-color--marine-deep-sky-blue: #007aff;
$theme-color--gunmetal: #46525f;
$theme-color--vermillion: #e84218;
$theme-color--light-grey: #c9c9c9;
$theme-color--brown-grey: #9f9f9f;
$theme-color--brownish-grey: #707070;
$theme-color--medium-blue: #292a73;

$theme-color--navbar-dark-blue: #1a416e;
$theme-color--navbar-medium-blue: #2569a1;
$theme-color--navbar-light-blue: #3399de;
$navbar-height: 9vh;

$theme-color--footer-navigation: #eeeeee;
$footer-transition: 0.5s;

$theme-color--lucky-wheel-chance-background: #efeff4;
$theme-color--lucky-wheel-chance-text: #ff3500;

$theme-color--leaderboard-medal: #efeff4;

// Other Colors
$primary: #004395;
$secondary: #f9c322;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$white: #ffffff;
$black: #000000;
$brown: #af880f;

//Lucky wheel gradient boarder
$lucky-wheel-outer-border-gradient: linear-gradient(
  135deg,
  #fffb90 14%,
  #fbe978 25%,
  #f8dc65 32%,
  #e6c758 35%,
  #c49f40 40%,
  #ac832f 44%,
  #9e7225 48%,
  #996c22 51%,
  #9d7125 54%,
  #a98030 57%,
  #bd9a42 60%,
  #d9be5a 63%,
  #fbe878 66%,
  #ffa 73%,
  #fbe878 77%,
  #a4631b 90%
);

$lucky-wheel-inner-border-gradient: linear-gradient(
  224deg,
  #fffb90 14%,
  #fbe978 25%,
  #f8dc65 32%,
  #e6c758 35%,
  #c49f40 40%,
  #ac832f 44%,
  #9e7225 48%,
  #996c22 51%,
  #9d7125 54%,
  #a98030 57%,
  #bd9a42 60%,
  #d9be5a 63%,
  #fbe878 66%,
  #ffa 73%,
  #fbe878 77%,
  #a4631b 90%
);

// Font Family
$font-family-iransans: "IranSans", "Roboto", sans-serif;

// Font Size
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-large-navbar: 22px;

$font-size-h1: 3.6em;
$font-size-h2: 2.8em;
$font-size-h3: 1.825em;
$font-size-h4: 1.6em;
$font-size-h5: 1.35em;
$font-size-h6: 0.9em;
$font-paragraph: 15px;
$font-size-navbar: 14px;

// Font Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi: 500;
$font-weight-bold: 600;

// Line Height
$line-height-small: 20px;
$line-height-general: 1.5em;
$line-height: 36px;
$line-height-lg: 54px;

// Responsive Views
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1499px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width: 1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 768px)";
$large-mobile-only: "only screen and (min-width: 576px) and (max-width: 768px)";
$small-mobile: "only screen and (max-width: 575px)";
$extra-small-mobile: "only screen and (max-width: 479px)";
