@import "./../../../style.scss";

.radio-gropup-input-container {
  display: block;
  margin: auto;
  direction: rtl;
  padding: 0 20px;
  max-height: 170px;
  overflow: auto;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;

  .custom-radio-container {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    vertical-align: baseline;
    height: 40px;
    border: 1px solid $theme-color--brown-grey-70;
    border-radius: 10px;
    padding: 10px 10px 0;
    margin: 10px 0;
    overflow: hidden;

    .custom-radio {
      position: relative;
      opacity: 0;
      display: none;

      & + label {
        cursor: pointer;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        line-height: 1rem;
        margin: 0 0 1.5rem 0;
        padding: 0 0 0 1rem;
        transition: all 0.5s ease-in-out;

        span {
          margin-right: 2rem;
          margin-left: 0rem;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          color: $theme-color--white;
          text-align: center;
          border-radius: 0;
          top: 0;
          right: 0;
          width: 1.1rem;
          height: 1.1rem;
          transition: all 0.5s ease-in-out;
        }

        &::before {
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          line-height: 1rem;
          border-radius: 0;
          background-color: $white;
          color: $white;
          box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 1rem $white,
            inset 0 0 0 1rem #01771e;
        }

        &:hover,
        &:focus,
        &:active {
          color: #01771e;
          font-weight: bolder;
          transition: all 0.3s ease;
          outline: none;

          &::before {
            color: $white;
            animation-duration: 0.5s;
            animation-name: changeSizeAnim;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            box-shadow: inset 0 0 0 1px #01771e, inset 0 0 0 16px $white,
              inset 0 0 0 16px #01771e;
          }
        }
      }

      &:focus,
      &:hover,
      &:checked {
        & + label {
          color: #220000 !important;
        }

        & + label::before {
          animation-duration: 0.3s;
          animation-name: selectCheckboxAnim;
          animation-iteration-count: 1;
          animation-direction: alternate;
          border: solid 1px rgba(0, 255, 0, 0.5);
          box-shadow: inset 0 0 0 1px #b0c9b5, inset 0 0 0 0 $white,
            inset 0 0 1px 2px #01771e;
        }
      }

      &:checked {
        & + label::before {
          content: "✔";
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #01771e;
          color: $white;
          border: solid 1px rgba(12, 70, 0, 0.5);
          box-shadow: inset 0 0 0 1px #b0c9b5, inset 0 0 0 0 $white,
            inset 0 0 0 16px #34c759;
        }
      }

      & + label {
        &::before {
          border-radius: 50%;
        }
      }

      @keyframes changeSizeAnim {
        from {
          box-shadow: 0 0 0 0 #34c759, inset 0 0 0 1px #34c759,
            inset 0 0 0 16px $white, inset 0 0 0 16px #34c759;
        }

        to {
          box-shadow: 0 0 0 1px #34c759, inset 0 0 0 1px #34c759,
            inset 0 0 0 16px $white, inset 0 0 0 16px #34c759;
        }
      }

      @keyframes selectCheckboxAnim {
        0% {
          box-shadow: 0 0 0 0 #b0c9b5, inset 0 0 0 2px $white,
            inset 0 0 0 3px #34c759, inset 0 0 0 16px $white,
            inset 0 0 0 16px #34c759;
        }

        100% {
          box-shadow: 0 0 20px 8px #eeddee, inset 0 0 0 0 white,
            inset 0 0 0 1px #b0c9b5, inset 0 0 0 0 $white,
            inset 0 0 0 16px #34c759;
        }
      }
    }
  }
}
