@import "./../../style.scss";

:root {
  --wheel-size: 36vh;
  --wheel-outer-container-border-size: 30px;
  --wheel-inner-container-border-size: 8px;
  --wheel-items-length: 8;
  --wheel-item-number: 0;
  --spinning-duration: 4s;
  --wheel-reset-duration: 0.3s;
  --number-of-turns: 5;
  --wheel-item-color: $white;
  --PI: 3.14159265358979;
}

.spinning-wheel-component {
  position: relative;
}

.wheel-outer-container {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: calc(var(--wheel-size) + var(--wheel-outer-container-border-size));
  height: calc(var(--wheel-size) + var(--wheel-outer-container-border-size));
  border-radius: 50%;
  padding: 0px;
  margin: auto;
  background: $lucky-wheel-outer-border-gradient;

  .wheel-inner-container {
    width: calc(var(--wheel-size) + var(--wheel-inner-container-border-size));
    height: calc(var(--wheel-size) + var(--wheel-inner-container-border-size));
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    margin: auto;
    background-color: white;

    background-image: $lucky-wheel-inner-border-gradient;

    .inner-border {
      width: calc(var(--wheel-size) + var(--wheel-inner-container-border-size));
      height: calc(
        var(--wheel-size) + var(--wheel-inner-container-border-size)
      );
      border-radius: 50%;
      background-image: repeating-conic-gradient(
        white 0deg,
        white 23.9deg,
        transparent 23.9deg,
        transparent 66deg,
        white 66deg,
        white 90deg
      );

      .wheel {
        user-select: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: var(--wheel-size);
        height: var(--wheel-size);
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
        transition: 5s;
        transition: transform var(--wheel-reset-duration);
        transform: rotate(0deg);
        cursor: pointer;

        &.spinning-wheel {
          /* rotation animation */
          user-select: none;
          transition: transform var(--spinning-duration);
          transform: rotate(
            calc(
              var(--number-of-turns) * 360deg +
                (360deg * var(--selectedd-item) / var(--wheel-items-length, 1))
            )
          );
        }

        div.item {
          height: 50%;
          width: calc(
            (var(--PI) * var(--wheel-size)) / var(--wheel-items-length) - 2px
          );
          position: absolute;
          clip-path: polygon(100% 0, 50% 97.5%, 0 0);
          transform: translateX(-50%);
          transform-origin: bottom;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          right: 0;
          margin: 0 auto;
          color: $white;

          /* dynamic styling */
          background-image: var(--wheel-item-color);
          transform: rotate(
            calc(
              var(--wheel-item-number) *
                (-360deg / var(--wheel-items-length, 1))
            )
          );

          p {
            font-size: 10px;
            transform: rotate(-90deg);
            padding-left: 30px;
            font-weight: 900;
            letter-spacing: -0.24px;
          }
        }
      }
    }
  }
}
.arrow {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  z-index: 10;
  width: 18.9px;
  height: 16.4px;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: $theme-color--lucky-wheel-chance-background;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  // text-transform: uppercase;
  border: 1px solid $theme-color--lucky-wheel-chance-background;
  // font-weight: bold;
  // font-size: 12px;
  // letter-spacing: -0.29px;
  color: $theme-color--lucky-wheel-chance-text;
  // line-height: 1.5rem;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  // letter-spacing: 1px;
  font-family: IranSans;

  .chance-number {
    font-size: 14px;
    font-weight: 900;
    line-height: 0.86;
    letter-spacing: -0.34;
    text-align: center;
  }
  .chance-text {
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.29px;
    text-align: center;
  }
}

@media #{$tablet-device,$large-mobile} {
  .wheel-outer-container {
    --wheel-size: 32vh;
    --wheel-outer-container-border-size: 30px;
    --wheel-inner-container-border-size: 8px;

    // div.item p {
    //   font-size: 16px;
    // }
  }

  #spin {
    width: 66px;
    height: 66px;
    font-size: 14px;
    line-height: 1.3rem;
    .chance-number {
      font-size: 17px;
      line-height: 0.82;
      letter-spacing: -0.41px;
    }
    .chance-text {
      font-size: 15px;
      line-height: 1;
      letter-spacing: -0.36px;
    }
  }

  .arrow {
    width: 22.7px;
    height: 19.6px;
  }
}

@media #{$small-mobile} {
  .wheel-outer-container {
    --wheel-size: 33vh;
    --wheel-outer-container-border-size: 30px;
    --wheel-inner-container-border-size: 8px;
  }

  #spin {
    width: 52px;
    height: 52px;
    font-size: 10px;
    line-height: 1rem;
    .chance-number {
      font-weight: 700;
      font-size: 14px;
    }
  }
}

@media #{$extra-small-mobile} {
  .wheel-outer-container {
    --wheel-size: 33vh;
    --wheel-outer-container-border-size: 30px;
    --wheel-inner-container-border-size: 7px;

    // div.item p {
    //   font-size: 12px;
    // }

    #spin {
      width: 50px;
      height: 50px;
      font-size: 14px;
      line-height: 1.3rem;
      .chance-number {
        font-size: 16px;
        line-height: 1.06;
        letter-spacing: -0.38px;
      }
      .chance-text {
        font-size: 10px;
        line-height: 1.5;
        letter-spacing: -0.24px;
      }
    }

    .arrow {
      width: 17.1px;
      height: 14.8px;
    }
  }
}
