@import "./../../style.scss";

.profile-container {
  text-align: center;
  // position: relative;
  align-items: center;
  justify-content: center;
  padding-top: calc($navbar-height + 16px);

  .profile-info {
    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;

      @media #{$large-mobile} {
        width: 50px;
        height: 50px;
      }
    }

    .user-name {
      font-size: 15px;
      font-weight: bold;
      color: $theme-color--marine-deep-sky-blue;

      @media #{$large-mobile} {
        font-size: 12px;
      }
    }

    .login-btn {
      color: $theme-color--white;
      width: 220px;
      height: 45px;
      font-size: 18px;
      font-weight: 500;
      background-color: $theme-color--marine-blue;
      border: none;
      border-radius: 20px;
      font-family: IranSans;
      line-height: 0.8;
      letter-spacing: -0.36px;
      cursor: pointer;

      @media #{$large-mobile} {
        width: 160px;
        height: 40px;
        font-size: 15px;
      }
    }
  }

  .profile-details {
    margin-top: 32px;

    .details-container {
      direction: rtl;
      margin: 16px auto;
      background-color: $theme-color--leaderboard-user-records-bg;
      display: flex;
      padding: 8px 16px;
      border-radius: 50px;
      position: relative;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      width: 30%;
      height: 50px;

      @media #{$large-mobile} {
        width: 90%;
        height: 40px;
      }

      .title-container {
        display: flex;
        align-items: center;
        .title {
          font-size: 18px;
          font-weight: 500;
          color: $theme-color--dark;
          margin-right: 16px;
          @media #{$large-mobile} {
            font-size: 13px;
            font-weight: 500;
          }
        }

        .title-icon {
          align-items: center;
          width: 18px;
          height: 18px;

          @media #{$large-mobile} {
            width: 16px;
            height: 16px;
          }
        }
      }

      .more-icon {
        width: 8px;
        height: 15px;

        @media #{$large-mobile} {
          width: 6px;
          height: 10px;
        }
      }
    }
  }

  .friends-container {
    .header-container {
      .avatar {
        width: 75px;
        height: 75px;
        border-radius: 50%;

        @media #{$large-mobile} {
          width: 55px;
          height: 55px;
        }
      }

      .description-text {
        font-size: 18px;
        font-weight: bold;
        color: $theme-color--marine-medium-blue;

        @media #{$large-mobile} {
          font-size: 12px;
          padding: 0 20%;
        }
      }
    }
    .set-inviter-container {
      width: 100%;
      margin-top: 64px;
      direction: rtl;

      .inviter-code {
        padding: 0 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$desktop-device} {
          padding: 0 20%;
        }
        @media #{$large-mobile} {
          padding: 0 5%;
        }

        .code-input {
          width: 220px;
          height: 40px;
          background-color: $theme-color--input-grey;
          color: $theme-color--marine-blue;
          border: none;
          border-radius: 50px;
          position: relative;
          outline: none;
          font-family: $font-family-iransans;
          font-size: 18px;
          font-weight: 500;
          padding: 0 16px;
          display: flex;
          text-align: center;

          @media #{$large-mobile} {
            width: 150px;
            font-size: 15px;
          }
        }
      }

      .send-code-text {
        font-size: 15px;
        font-weight: bold;
        color: $theme-color--marine-deep-sky-blue;
        margin: 24px 0;
        cursor: pointer;

        @media #{$large-mobile} {
          font-size: 12px;
        }
      }
    }
  }
}
