.error-boundary {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  direction: rtl;
  text-align: right;

  .support-number {
    font-size: 13px;
    display: flex;
  }
}
