@import "./../../style.scss";

.blue-bg {
  background-image: url("./../../assets/images/lucky-wheel/background/blueback-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media #{$tablet-device} {
    background-image: url("./../../assets/images/lucky-wheel/background/blue-back-ipad.png");
  }
  @media #{$large-mobile} {
    background-image: url("./../../assets/images/lucky-wheel/background/blueback-mobile.png");
  }
}

.spacing {
  // padding: 85px 0 100px;
  padding: $navbar-height 0 0;
}

.outer-box {
  text-align: center;
  // display: grid;

  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .main-header {
    // position: relative;
    padding: 0;
    top: 12%;
    padding: 0 10px;
    .header-txt {
      margin: 18px 0 0;
      color: $white;
      font-size: 30px;
      @media #{$large-mobile} {
        margin: 10px 0 0;
        font-size: 28px;
      }
      @media #{$small-mobile} {
        font-size: 25px;
      }
      @media #{$extra-small-mobile} {
        font-size: 20px;
      }
    }
    .subheader-txt {
      font-size: 18px;
      margin: 10px 0;
      color: $theme-color--manilla;
      direction: rtl;
      @media #{$large-mobile} {
        font-size: 16px;
        margin: 0;
      }
      @media #{$extra-small-mobile} {
        font-size: 12px;
      }
    }
  }

  .wheel-component {
    margin: 1.2rem 0;
  }

  .lucky-wheel-page-btn {
    color: $white;
    width: 150px;
    height: 35px;
    opacity: 0.91;
    font-size: 18px;
    font-weight: bold;
    background-color: $theme-color--tangerine;
    border: 1px solid $theme-color--tangerine;
    border-radius: 25px;
    font-family: IranSans;
    line-height: 0.8;
    letter-spacing: -0.36px;
  }

  .want-more-chance {
    color: $white;
    font-size: 15px;
    margin: 0;
    @media #{$extra-small-mobile} {
      font-size: 12px;
    }
  }

  .click-here {
    color: $theme-color--meduim-yellow;
    font-size: 18px;
    margin: 0;
    @media #{$extra-small-mobile} {
      font-size: 13px;
    }
  }
}
