@import "./../../style.scss";

.blue-bg {
  background-image: url("./../../assets/images/lucky-wheel/background/blueback-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media #{$tablet-device} {
    background-image: url("./../../assets/images/lucky-wheel/background/blue-back-ipad.png");
  }
  @media #{$large-mobile} {
    background-image: url("./../../assets/images/lucky-wheel/background/blueback-mobile.png");
  }
}

.outer-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140vh;

  .main-header {
    position: absolute;
    top: 12%;
    padding: 0 10px;
    & h2 {
      margin: 0 0 20px;
    }
    & p {
      margin: 5px 0;
    }
  }

  .wheel-component {
    position: absolute;
    top: 35%;
  }
}
