@import "./../../style.scss";

:root {
  --shop-items-border-radius: 15px;
}

.shop-grid-data {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vh 7vw;
  border: 1px solid black;
  margin: 2vh 12vw;

  @media #{$tablet-device,$large-mobile} {
    gap: 0.5vh 5vw;
    margin: 2vh 3vw;
  }
  @media #{$small-mobile} {
    margin: 1vh 3vw;
    grid-template-columns: repeat(2, 1fr);
  }

  .shop-item {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    height: 19vh;
    background-color: $theme-color--white;
    box-shadow: 0 0 8px 0 $theme-color--brown-grey-70;
    border-radius: var(--shop-items-border-radius);
    padding: 10px;

    &:nth-child(even) {
      @media #{$tablet-device,$large-mobile} {
        margin-top: 3vh;
      }
      @media #{$small-mobile} {
        margin-top: 3.5vh;
      }
    }

    @media #{$small-mobile} {
      &:nth-child(n + 7) {
        display: none;
      }
    }

    .shop-item-img {
      width: 100%;
      height: 60%;
    }

    .shop-item-name {
      font-size: 18px;
      font-weight: 500;
      color: $theme-color--dark;
      @media #{$small-mobile} {
        font-size: 13px;
      }
    }

    .shop-item-score-needed {
      font-size: 13px;
      font-weight: 500;
      color: $theme-color--vermillion;
      @media #{$small-mobile} {
        font-size: 10px;
      }
    }

    .shop-item-purchase-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $theme-color--shop-purchase-btn;
      background-color: $theme-color--marine-blue;
      border-radius: 0 var(--shop-items-border-radius);
      font-size: 15px;
      font-weight: 500;

      @media #{$small-mobile} {
        width: 60px;
        height: 30px;
        font-size: 12px;
      }
    }
  }
}
