@import "../../assets/scss/variables";

.games-page {
  padding: 18.5px 17.5px 0 10px;
  direction: rtl;

  .category-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

    .category-title {
      font-size: 17px;
      font-weight: bold;
      letter-spacing: -0.41px;
      text-align: center;
    }

    .more-button {
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      color: #292a73;
      padding-bottom: 5px;
    }

    .more-icon {
      padding: 10px 10px 10px 0;
      font-size: 10px;
      color: #292a73;
    }
  }

  .banner-container {
    margin-bottom: 20px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .banner {
      width: 95%;
      height: auto;
      border-radius: 10px;
      margin-left: 5px;
    }
  }
}
