@import "./../../style.scss";

.game-details-container {
  width: 100%;
  height: auto;
  padding-top: 50vh;
  padding-bottom: calc(var(--footer-height) + 30px);
  direction: rtl;
  background-color: $white;

  .game-details-icons-container {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;

    .game-details-gameicon-names-container {
      display: flex;
      flex-direction: row;

      .gameicon {
        width: 85px;
        height: 78px;
        border-radius: 15px;
      }
      .names {
        padding: 0 10px;
      }
    }

    .game-details-shareicon-container {
      display: flex;
      margin-top: 40px;
      .instagramicon {
        width: 19px;
        height: 19px;
      }
    }
  }

  .game-detail-list-info-container {
    margin-bottom: 20px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      vertical-align: middle;
      text-align: center;
      list-style: none;
      padding: 0 32px;

      hr {
        width: 1px;
        height: 20px;
        border: solid 1px rgba(131, 131, 131, 0.6);
      }
      li {
        & span:nth-child(1) {
          font-size: 15px;
          font-weight: 500;
          line-height: 1.33;
          letter-spacing: -0.24px;
          color: $theme-color--marine-blue;

          svg {
            padding: 0 2px;
          }
        }
        & span:nth-child(3) {
          font-size: 12px;
          font-weight: 500;
          line-height: 1.67;
          letter-spacing: -0.19px;
          color: #838383;
        }
      }
    }

    .install-btn {
      display: block;
      margin: auto;

      width: 225px;
      height: 40px;
      padding: 8px 96.5px 8px 96.5px;
      border: 1px solid $theme-color--marine-blue;
      border-radius: 20px;
      background-color: $theme-color--marine-blue;

      font-family: IranSans;
      font-size: 15px;
      font-weight: 500;
      line-height: 0.8;
      letter-spacing: -0.36px;
      text-align: center;
      color: #efeff4;
    }
  }

  .game-detail-intro-container {
    margin: 0 16px;

    .game-detail-intro {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.83;
      letter-spacing: -0.29px;
      text-align: right;
      color: rgba(24, 39, 55, 0.65);
    }
  }

  .game-detail-simiral-games-container {
    direction: rtl;
    .game-detail-header {
      margin: 16px 16px 0;
    }
  }
}

.game-detail-header {
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 17px;
    font-weight: bold;
    line-height: 0.71;
    letter-spacing: -0.41px;
    text-align: center;
    color: $theme-color--dark;
  }

  .more {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: -0.19px;
    text-align: left;
    color: $theme-color--marine-blue;

    img {
      width: 5.7px;
      height: 10px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}
