@import "./../../style.scss";

:root {
  --shop-label-height: 2em;
  --shop-header-container: calc(var(--shop-label-height) * 1.5);
}

.shop-header-container {
  position: relative;
  margin-top: calc($navbar-height - 0.1vh);
  width: 100%;
  height: var(--shop-header-container);

  .shop-header {
    direction: rtl;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    padding: 23px 0 0;

    .txt {
      font-size: 15px;
      font-weight: 500;
      @media #{$small-mobile} {
        font-size: 12px;
      }
    }

    .dropdown {
      // min-width: 12em;
      width: auto;
      position: relative;
      display: inline-block;
      margin-left: 1em;
      min-height: var(--shop-label-height);
      max-height: var(--shop-label-height); /* to show only the first row */
      overflow: hidden;
      cursor: pointer;
      text-align: right;
      white-space: nowrap;
      color: $theme-color--dark;
      font-size: 13px;
      font-weight: 500;
      outline: none;
      border: 1px solid $theme-color--dark;
      border-radius: 15px;
      background-color: $white;
      transition: 0.3s all ease-in-out;

      @media #{$small-mobile} {
        font-size: 10px;
      }

      input {
        width: 1px;
        height: 1px;
        display: inline-block;
        position: absolute;
        opacity: 0.01;
      }

      label {
        display: block;
        height: var(--shop-label-height);
        line-height: var(--shop-label-height);
        padding-left: 1.5em;
        padding-right: 2em;
        cursor: pointer;
        position: relative;
        transition: 0.3s color ease-in-out;
      }

      label:nth-child(2) {
        margin-top: var(--shop-label-height);
      }

      input:checked + label {
        display: block;
        border-top: none;
        position: absolute;
        top: 0;
        width: 100%;
      }

      input:checked + label:nth-child(2) {
        margin-top: 0;
        position: relative;
      }

      &::after {
        content: "🞃";
        position: absolute;
        right: 0.8em;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &.expanded {
        border: 0.06em solid $theme-color--marine-blue;
        border-radius: 10px;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
        max-height: calc(
          var(--shop-label-height) * 8
        ); /* 2*8 item can be shown */
        z-index: 10;

        &::after {
          content: "✔";
        }
      }
    }
  }
}
