@import "./../../style.scss";

:root {
  --lucky-wheel-popup-textarea-padding: 20px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);

  position: fixed;
  z-index: 21;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .popup {
    position: relative;

    width: 540px;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    z-index: 200;

    @media #{$small-mobile} {
      width: 100%;
      height: 360px;
    }

    .bg-hooray {
      position: absolute;
      top: 0;
      background-image: url("./../../assets/images/lucky-wheel/popup/hooray.png");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }

    .popup-close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 20px;
      height: 20px;
      cursor: pointer;

      @media #{$small-mobile} {
        width: 15px;
        height: 15px;
      }
    }

    .popup-title {
      top: 35%;

      direction: rtl;
      font-size: 34px;
      font-weight: bold;
      letter-spacing: -0.82px;
      color: $theme-color--vermillion;
      width: 100%;
      padding: 0 10px;

      &.popup-title-dig {
        top: 35%;
      }
      &.popup-title-dig-prize-received-true {
        top: 35%;
      }
      &.popup-title-non-dig {
        top: 10%;
      }
      &.popup-title-non-dig-prize-received-true {
        top: 15%;
      }

      @media #{$small-mobile} {
        font-size: 25px;
        line-height: 0.48;
        letter-spacing: -0.6px;
      }
    }

    /*---------------- Prize -----------------*/
    .popup-prize-btn {
      top: 42%;

      width: 168px;
      height: 45px;
      background-color: $theme-color--marine-blue;
      color: $theme-color--white;
      border: none;
      border-radius: 25px;

      font-family: $font-family-iransans;
      font-size: 18px;
      font-weight: 500;
      line-height: 0.67;
      letter-spacing: -0.43px;
      direction: rtl;

      cursor: pointer;

      &.popup-prize-btn-dig {
        top: 70%;
      }
      &.popup-prize-btn-dig-prize-received-true {
        background-color: $theme-color--marine-deep-sky-blue;
      }
      &.popup-prize-btn-non-dig {
        top: 90%;
        background-color: $theme-color--cool-green;
      }
      &.popup-prize-btn-non-dig-prize-received-true {
        top: 72%;
        background-color: $theme-color--marine-deep-sky-blue;
      }

      &.disabled {
        background-color: $theme-color--brown-grey;
      }

      @media #{$small-mobile} {
        width: 150px;
        height: 40px;
        font-size: 15px;
        line-height: 0.8;
        letter-spacing: -0.36px;
      }
    }

    .dig-prize-received-hint {
      top: 80%;

      direction: rtl;
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: -0.19px;
      color: $theme-color--dark;
      width: 100%;
      padding: 0 10px;
    }

    .user-address-container {
      direction: rtl;

      .user-address-label {
        top: 26%;
        width: 100%;

        text-align: right;
        padding-right: calc(var(--lucky-wheel-popup-textarea-padding) / 2);
        font-size: 18px;

        & span:nth-child(2) {
          color: $theme-color--vermillion;
          padding-right: 10px;
        }

        @media #{$small-mobile} {
          font-size: 12px;
        }
      }

      .user-address {
        top: 55%;

        background-color: $theme-color--white;
        border-radius: 10px;
        width: calc(100% - var(--lucky-wheel-popup-textarea-padding));
        height: 170px;
        font-family: $font-family-iransans;
        text-align: right;
        padding: 10px 15px;

        border: none;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none;

        @media #{$small-mobile} {
          height: 135px;
        }
      }

      .send-to-user-address {
        top: 40%;

        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: -0.29px;
        color: $theme-color--dark;
        width: 80%;

        & span:nth-child(2) {
          padding-right: 10px;
        }

        @media #{$small-mobile} {
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: -0.19px;
        }
      }

      .support-number {
        top: 85%;

        font-size: 13px;
        font-weight: 500;
        line-height: 0.92;
        letter-spacing: -0.21px;

        & span:nth-child(2) {
          padding-right: 10px;
        }

        @media #{$small-mobile} {
          font-size: 10px;
          line-height: 1.2;
          letter-spacing: -0.16px;
        }
      }
    }
  }
}
