@import "./../../style.scss";

:root {
  --leaderboard-user-record-height: 5vh;
  --user-list-gap: 1vh;
  --user-list-rows: 7;
}

.leaderboard-container {
  direction: rtl;
  padding-bottom: calc(var(--footer-height) + 30px);

  .leaderborad-headline-txt {
    font-size: 26px;
    font-weight: bold;
    line-height: 0.46;
    letter-spacing: -0.62px;
    color: $theme-color--dark;
    margin: 4vh 5%;
    @media #{$large-mobile} {
      margin: 3vh 5%;
      font-size: 17px;
      font-weight: bold;
      line-height: 0.71;
      letter-spacing: -0.41px;
    }
  }

  .leaderboard-user-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--user-list-gap) 8vh;

    height: calc(
      (var(--user-list-gap) + var(--leaderboard-user-record-height)) *
        var(--user-list-rows)
    );
    width: 80%;

    &.leaderboard-height-current-user-between-7-and-13 {
      @media #{$large-mobile} {
        --user-list-rows: 8;
      }
    }

    .leaderboard-each-user {
      height: var(--leaderboard-user-record-height);
      width: 45%;

      // &.current-user-in-first-14 {}

      @media #{$large-mobile} {
        width: 100%;
        &:nth-child(n + 8) {
          display: none;
        }

        &.current-user-between-7-and-13 {
          display: block;
        }
      }
    }
  }

  .current-user-out-first-14 {
    width: 40%;
    height: var(--leaderboard-user-record-height);

    @media #{$large-mobile} {
      width: 80%;
    }
  }
}

/*--------------------------------
      FULL WIDTH FOR SHORT LISTS
---------------------------------*/
.leaderboard-container .leaderboard-full-width-records .leaderboard-each-user {
  width: 100%;
}

/*--------------------------------
      IF CURRENT USER HAS LOGGEDIN STYLE
---------------------------------*/
.current-user-loggedin .user-record .user-info {
  background-color: $theme-color--tangerine;
}

/*--------------------------------
      USER RECORD LOGIC
---------------------------------*/
.user-record {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @media #{$large-mobile} {
    gap: 0.5rem;
  }

  .user-index {
    font-size: 15px;
    font-weight: bold;
    color: $theme-color--orange;
    width: 15px;
    display: flex;
    justify-content: center;

    @media #{$large-mobile} {
      font-size: 12px;
    }
  }

  .user-info {
    background-color: $theme-color--leaderboard-user-records-bg;
    width: 100%;
    height: var(--leaderboard-user-record-height);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .user--avatar-name {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .avatar {
        width: var(--leaderboard-user-record-height);
        height: var(--leaderboard-user-record-height);
        border-radius: 50%;
      }

      .name {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.12px;
        color: $theme-color--dark;
        @media #{$large-mobile} {
          font-size: 10px;
          font-weight: 500;
        }
      }
    }

    .user--score-prize {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      font-size: 13px;
      font-weight: 500;
      line-height: 1.69;
      letter-spacing: -0.21px;
      color: $theme-color--marine-blue;
      margin-left: 1rem;
      @media #{$large-mobile} {
        font-size: 10px;
        font-weight: 500;
        line-height: 2;
        letter-spacing: -0.16px;
      }
    }
  }
}

@media #{$tablet-device,$large-mobile} {
  .leaderboard-container {
    --leaderboard-user-record-height: 4.7vh;
  }
}
