@import "./../../style.scss";

.leaderboard-container {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  padding-top: 20rem;
  padding-bottom: calc(var(--footer-height) + 30px);
  direction: rtl;

  .leaderborad-topusers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 10%;
    gap: 1rem 3rem;
    @media #{$small-mobile} {
      grid-template-columns: 1fr;
    }
    .each-user {
      border: 1px solid black;

      @media #{$small-mobile} {
        &:nth-child(n + 8) {
          display: none;
        }
      }

      &.loggedin-user {
        display: grid;
        background-color: red;
      }

      &.loggedin-user-wide {
        grid-column: span 2;
        @media #{$small-mobile} {
          grid-column: auto;
        }
      }
    }
  }
}
