@import "./../../style.scss";

:root {
  --leaderboard-user-avatar-size: 78px;
}

.leaderboard-header-container {
  width: 100%;
  height: auto;
  //   background-color: $theme-color--navbar-medium-blue;

  .leaderboard-header {
    position: fixed;
    margin-top: calc($navbar-height - 0.1vh);
    background-image: linear-gradient(
      to bottom,
      $theme-color--navbar-medium-blue,
      $theme-color--navbar-light-blue
    );
    width: 100%;
    height: auto;
    padding: 30px 0 0px;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;

    .top-three {
      display: flex;
      flex-direction: row;
      width: auto;
      height: auto;
      padding: 0;
      justify-content: center;
      gap: 5rem;
      vertical-align: middle;
      text-align: center;
      background-color: red;

      :nth-child(odd) {
        transform: translateY(15px);

        span.name-score {
          transform: translateY(-15px);
        }

        @media #{$small-mobile} {
          .user-avatar {
            --leaderboard-user-avatar-size: 50px;
          }
          .medal {
            margin-top: calc(var(--leaderboard-user-avatar-size) / 5.5);
          }
        }
      }
      :nth-child(even) {
        .user-avatar {
          border: 2px solid $theme-color--meduim-yellow;
        }
        span.name-score {
          transform: translateY(-10px);

          @media #{$small-mobile} {
            transform: translateY(-3px);
          }
        }
      }

      @media #{$tablet-device,$large-mobile} {
        gap: 3rem;
      }
      @media #{$small-mobile} {
        gap: 1rem;
      }

      .user-avatar-container {
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        transform: translateY(10px);

        @media #{$small-mobile} {
          width: 88px;
          height: 90px;
        }
      }

      .user-avatar {
        width: var(--leaderboard-user-avatar-size);
        height: var(--leaderboard-user-avatar-size);
        border: 2px solid $white;
        border-radius: 50%;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        transform: translateY(-20px);

        @media #{$small-mobile} {
          transform: translateY(-10px);
        }
      }

      .medal {
        position: absolute;
        right: 0;
        left: calc(var(--leaderboard-user-avatar-size) - 27px);
        margin: auto;
        margin-top: calc(var(--leaderboard-user-avatar-size) / 4);
        color: $theme-color--medium-blue;
        background-color: $theme-color--leaderboard-medal;
        width: 21px;
        height: 21px;
        border: 1px solid $theme-color--white;
        border-radius: 50%;
        font-size: 13px;
        font-weight: bold;

        @media #{$extra-small-mobile} {
          font-size: 10px;
          width: 16px;
          height: 16px;
        }
      }

      .name-score {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 7px;
        margin: auto;
        line-height: 1.2;

        @media #{$small-mobile} {
          bottom: 4px;
          line-height: 1;
        }

        :nth-child(1) {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: -0.24px;
          color: $theme-color--tangerine;

          @media #{$small-mobile} {
            font-size: 12px;
          }
        }

        :nth-child(3) {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: -0.21px;
          color: $theme-color--dark;

          @media #{$small-mobile} {
            font-size: 10px;
          }
        }
      }

      .crown {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 167px;
        margin: auto;
        @media #{$small-mobile} {
          bottom: 121px;
          width: 12px;
          height: 8px;
        }
      }
    }
  }
}

@media #{$small-mobile} {
  .leaderboard-header-container {
    --leaderboard-user-avatar-size: 60px;
  }
}
