@font-face {
  font-family: "BYekan";
  src: url("./assets/fonts/BYekan-webfont.ttf") format("truetype");
  src: url("./assets/fonts/BYekan-webfont.eot") format("eot");
  src: url("./assets/fonts/BYekan-webfont.woff") format("woff");
}

@font-face {
  font-family: "Diodrum";
  src: url("./assets/fonts/DiodrumArabic-Regular.ttf") format("truetype");
}

.app-bar-height {
  height: 100px;
}

.navbar {
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.navbar-logo {
  width: 100px;
  height: auto;
}

.navbar-logo-container {
  text-align: center;
  align-items: center;
}

.navbar-logo-image {
  display: inline-block;
  align-content: center;
}

.navbar-logo-text {
  font-family: "Diodrum";
  color: #fff;
  position: absolute;
  display: inline-block;
  align-items: center;
  top: 25px;
}

.navbar-menu-icon {
  text-align: right;
  align-items: flex-end;
}

@media screen and (max-width: 1279px) {
  .app-bar-height {
    height: 90px;
  }
}

@media screen and (max-width: 959px) {
  .app-bar-height {
    height: 80px;
  }
  .navbar-logo-text {
    display: none;
  }
  .navbar-logo {
    width: 85px;
    height: auto;
  }
}

@media screen and (max-width: 599px) {
  .app-bar-height {
    height: 70px;
  }
  .navbar-logo-text {
    display: none;
  }
  .navbar-logo {
    width: 75px;
    height: auto;
  }
}
