@font-face {
    font-family: 'BYekan';
    src: url('./assets/fonts/BYekan-webfont.ttf') format('truetype');
    src: url('./assets/fonts/BYekan-webfont.eot') format('eot'),;
    src: url('./assets/fonts/BYekan-webfont.woff') format('woff'),;
}